@media (max-width: 991px) {
  .header-items nav ul {
    display: none;
  }
  .hero-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .hero-man img {
    display: none;
  }
  .search-form {
    margin-right: 0;
  }
  .about-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 150px;
  }
  .about-s-img img {
    position: absolute;
    bottom: 50px;
    right: 0px;
    border: 9px solid var(--white);
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .search-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 575px) {
  .main-slider-three__element__item-one,
  .main-slider-three__element__item,
  .main-slider-three__element__item-two {
    display: none;
  }
  .btn-green {
    display: none;
  }
  .hero-content h1 {
    font-size: 54px;
    max-width: 600px;
    color: var(--dark);
    font-weight: 700;
  }
  .main-slider-three__element-three-item {
    bottom: 399px;
    right: 0;
    z-index: -1;
    position: absolute;
    width: 652px;
    height: 733px;
    background: var(--gotur-primary, #f7921e);
    opacity: 0.1;
    border-radius: 324px 0px 0px 324px;
  }

  .button {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }
  .hero-content p {
    font-size: 15px;
  }
  .logo-white img {
    width: 130px;
  }
  .herosection {
    padding: 109px 0 100px 0;
  }
  .search-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .about-content h2 {
    font-size: 34px;
  }
  .about-content p {
    font-size: 14px;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  }
  .content-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  nav ul li {
    display: block;
  }
  .toggle {
    display: block;
  }
  .active {
    display: block;
  }

  header {
    padding: 0;
  }
  .divi {
    margin-top: 20px;
  }
  .travel-img {
    position: absolute;
    top: 20px;
    display: none;
    right: -40px;
    animation: scale 4s ease-in-out infinite;
  }
  .div-content a {
    padding: 0;
    margin-right: 20px;
  }
  .div-content {
    margin: 0;
  }

  .content-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: inherit;
  }
}
@media (max-width: 1199px) {
  .search-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  .search-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1399px) {
  .about-one__element-two,
  .about-one__element-one,
  .about-img::after {
    display: none;
  }
}
